.ion-social-facebook:hover {
    -ms-transform: scale(1.1) !important; 
    -webkit-transform: scale(1.1) !important; 
    transform: scale(1.1) !important;
}
.ion-social-twitter:hover {
    -ms-transform: scale(1.1) !important; 
    -webkit-transform: scale(1.1) !important; 
    transform: scale(1.1) !important;
}
.ion-social-linkedin:hover {
    -ms-transform: scale(1.1) !important; 
    -webkit-transform: scale(1.1) !important; 
    transform: scale(1.1) !important;
}
.ion-social-youtube:hover {
    -ms-transform: scale(1.1) !important; 
    -webkit-transform: scale(1.1) !important; 
    transform: scale(1.1) !important;
}

.flip-card {
    background-color: transparent;
    width: 100%;
    height: 400px;
    perspective: 1000px;
  }
  
  .card {
    background-color: transparent;
    width: 280px;
    height: 350px;
    perspective: 1000px;
  }

  .card:hover .flip-card-inner h1 {
    -webkit-transform: scale(1.08);
    -moz-transform: scale(1.08);
    transform: scale(1.08);
  }

  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    -ms-transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

    
  }
  .flip-card-inners {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    -ms-transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    box-shadow: 2px 2px 8px 2px rgba(0,0,0,0.2);
    background-color: #f5f5f5;
    color: black;
    z-index: 2;
    border-radius: 10px;
    padding: 25px
  }
  
  .flip-card-inners:hover {
    animation: shake 0.5s;
  }

  @keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }

  .flip-card:hover .flip-card-inner {
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY( 180deg ); 
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background-color: #f5f5f5;
    color: black;
    z-index: 2;
    border-radius: 10px;
    padding: 25px

  }
  
  .flip-card-front {
    background-color: #f5f5f5;
    color: black;
    z-index: 2;
    border-radius: 10px;
    padding: 25px

  }
  
  .flip-card-back {
    background-color: #f5f5f5;
    color: black;
    -ms-transform: rotateY(180deg); 
    -o-transform: rotateY( 180deg );
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    border-radius: 10px;
    z-index: 1;
    padding: 25px;

  }
  .grid-container {
    display: grid;
    grid: 335px / auto auto auto auto;
    grid-gap: 10px;
    background-color: transparent;
    padding: 10px;
    align-content: space-around;
    justify-content: space-between
  }

  big {
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
  }